body{
  background-color: lightblue;
  font-family: "Raleway", sans-serif;
}
nav{
  background-color: gray;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  z-index: 1;
}

nav ul li { 
  float: right;
  margin-right: 50px;
  list-style-type: none;
  text-align: center
}
#brand{
  float: left;
}
.nav-link{
  color: darkred;
  text-decoration: none;
  font-family: "Acme", sans-serif
}
.nav-link:hover{
  color: lightblue;
  font-weight: bold;
}
#brand .nav-link{
  color: lightblue;
  font-size: 16pt
}
#brand .nav-link:hover{
  color: darkred;
}
h1{
  font-size: 60pt;
  font-family: "Acme", sand=serif;
}
#home{
  margin-top: 60px;
  position: relative;
  left: -8px;
  width: 100vw;
  height: 30vh;
  padding-top: 3em;
  background: url("https://images.pexels.com/photos/912110/pexels-photo-912110.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") center 75% no-repeat fixed;
  background-size: cover;
}
.header-tag{
  text-align: center;
  color: darkred;
  text-shadow: 2px 2px 2px black;
}

h3.header-tag{
  margin-top: -30px;
  font-size: 18pt;
}
h2{
  font-family: "Acme", sans-serif;
  color: darkred;
}
.main{
  text-align: center
}
#about{
  margin-top: 50px;
  display: inline-block;
}
#about-picture{
  width: 30%;
  float: left;
}
#profile-pic{
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 0.4em;
  box-shadow: 2px 2px 2px black;
}
#about-center{
  width: 40vw;
  float: right;
}